<div class="table-shell bg-white dark:bg-gray-800 rounded-2xl shadow-md">

  <!-- Loader -->
  <div *ngIf="loading"
       class="flex justify-center items-center py-6 text-blue-600 dark:text-blue-400">
    <svg class="animate-spin h-6 w-6 mr-2"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24">
      <circle class="opacity-25"
              cx="12" cy="12" r="10"
              stroke="currentColor"
              stroke-width="4">
      </circle>
      <path class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z">
      </path>
    </svg>
    Cargando...
  </div>

  <!-- Tabla -->
  <div *ngIf="!loading" class="table-scroll overflow-x-auto">
    <table class="min-w-full border-collapse">

      <thead class="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-200">
      <tr>
        <th *ngFor="let col of columns"
            class="sticky top-0 z-10 bg-gray-100 dark:bg-gray-700 px-2 md:px-6 py-2 md:py-3 text-left text-xs md:text-sm font-medium text-gray-700 dark:text-gray-200">
          {{ col.header }}
        </th>
      </tr>
      </thead>

      <tbody>

      <tr *ngFor="let item of data"
          class="border-b border-gray-200 dark:border-gray-600
                 hover:bg-gray-50 dark:hover:bg-gray-700 transition">

        <td *ngFor="let col of columns"
            class="px-2 md:px-6 py-2 md:py-3 text-xs md:text-sm text-gray-800 dark:text-gray-100">

          <!-- TEXTO -->
          <ng-container *ngIf="!col.type || col.type === 'text'">
            {{ item[col.field] }}
          </ng-container>

          <!-- NUMBER -->
          <ng-container *ngIf="col.type === 'number'">
            {{ item[col.field] | number:'1.0-0':'es-CO' }}
          </ng-container>

          <!-- CURRENCY -->
          <ng-container *ngIf="col.type === 'currency'">
            {{ item[col.field] | currency:'COP':'symbol-narrow':'1.0-0':'es-CO' }}
          </ng-container>

          <!-- DATE -->
          <ng-container *ngIf="col.type === 'date'">
            {{ item[col.field] | date:'dd-MM-yyyy' }}
          </ng-container>

          <!-- STATUS -->
          <ng-container *ngIf="col.type === 'status'">
            <span
              class="px-3 py-1 rounded-full text-xs font-semibold"
              [ngClass]="{
                'bg-green-100 text-green-700': item[col.field] === 'Activo',
                'bg-red-100 text-red-700': item[col.field] !== 'Activo'
              }">
              {{ item[col.field] }}
            </span>
          </ng-container>


          <!-- ACTIONS (Editar / Eliminar con iconos) -->
          <ng-container *ngIf="col.type === 'buttons'">
            <ng-container *ngIf="isMobile; else desktopButtons">
              <!-- Mobile -->
              <div class="relative">
                <button (click)="item.showMenu = !item.showMenu" class="p-2 text-gray-600">
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div *ngIf="item.showMenu" class="absolute right-0 top-full mt-1 w-40 bg-white dark:bg-gray-700 shadow-xl p-2 flex flex-col gap-2 border border-gray-200 dark:border-gray-600 rounded-lg z-50">
                  <button *ngFor="let btn of col.buttons"
                          class="flex items-center gap-2 p-2 text-sm text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-800 rounded"
                          (click)="item.showMenu = false; btn.action(item)">
                    <i [class]="btn.icon"></i> {{ btn.title }}
                  </button>
                </div>
              </div>
            </ng-container>

            <ng-template #desktopButtons>
              <!-- Desktop -->
              <div class="flex items-center gap-2">
                <button *ngFor="let btn of col.buttons"
                        [title]="btn.title"
                        class="p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800 transition-all duration-200 hover:scale-110"
                        (click)="btn.action(item)">
                  <i [class]="btn.icon"></i>
                </button>
              </div>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="col.type === 'actions'">
            <div class="flex items-center gap-2">
              <button
                *ngIf="item.codigoBarra"
                title="Codigo de barra"
                class="p-2 rounded-lg hover:bg-amber-100 dark:hover:bg-amber-900
               transition-all duration-200 hover:scale-110 mr-2"
                (click)="actionClick.emit({ action: 'barcode', row: item })">
                <i class="fa-solid fa-barcode text-amber-600"></i>
              </button>
              <button
                title="Editar"
                class="p-2 rounded-lg hover:bg-blue-100 dark:hover:bg-blue-900
               transition-all duration-200 hover:scale-110"
                (click)="actionClick.emit({ action: 'edit', row: item })">
                <i class="fa-solid fa-pen text-blue-600"></i>
              </button>
              <button
                title="Eliminar"
                class="p-2 rounded-lg hover:bg-red-100 dark:hover:bg-red-900
               transition-all duration-200 hover:scale-110"
                (click)="actionClick.emit({ action: 'delete', row: item })">
                <i class="fa-solid fa-trash text-red-600"></i>
              </button>
            </div>
          </ng-container>


          <!-- BOTÓN PERSONALIZADO -->
          <ng-container *ngIf="col.type === 'button'">
            <button
              [title]="col.label || col.header"
              class="p-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-700
           transition-all duration-200 hover:scale-110"
              (click)="col.action?.(item)">

              <i *ngIf="col.icon"
                 [class]="col.icon"
                 class="text-lg">
              </i>

              <span *ngIf="!col.icon">
      {{ col.label }}
    </span>

            </button>
          </ng-container>

        </td>
      </tr>

      <!-- Sin datos -->
      <tr *ngIf="data.length === 0">
        <td [attr.colspan]="columns.length"
            class="text-center py-4 text-gray-500 dark:text-gray-400">
          No hay datos disponibles.
        </td>
      </tr>

      </tbody>
    </table>
  </div>




  <!-- Paginación -->
  <div class="flex justify-between items-center p-4
              bg-gray-50 dark:bg-gray-900
              border-t border-gray-200 dark:border-gray-700">

    <button
      (click)="previous.emit()"
      [disabled]="currentPage === 0 || loading"
      class="px-4 py-2 text-sm font-medium rounded-lg
             bg-gray-200 dark:bg-gray-700
             text-gray-700 dark:text-gray-200
             hover:bg-gray-300 dark:hover:bg-gray-600
             disabled:opacity-50">
      Anterior
    </button>

    <p class="text-sm text-gray-600 dark:text-gray-300">
      Página {{ currentPage + 1 }} de {{ totalPages }}
    </p>

    <button
      (click)="next.emit()"
      [disabled]="currentPage >= totalPages - 1 || loading"
      class="px-4 py-2 text-sm font-medium rounded-lg
             bg-gray-200 dark:bg-gray-700
             text-gray-700 dark:text-gray-200
             hover:bg-gray-300 dark:hover:bg-gray-600
             disabled:opacity-50">
      Siguiente
    </button>
  </div>
</div>
