@media (max-width: 480px) {

  h2{
    font-size: 18px;
  }

  :host ::ng-deep app-filtros-ventas{
    display:block;
    margin-bottom:10px;
  }

  .table-responsive {
    overflow-x: auto; /* Permite el desplazamiento horizontal si el contenido es más ancho */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
  }

  .idven{
    width: 115%;
  }
}
