@media (max-width: 480px) {
  .todo{
    width: 110%;
    margin-top: -20px;
    margin-left: -25px;
  }
  .tit{
width:130%;

}

.ti{
margin-right: 98px;
}

  .asign {
    width: 130%;
  }

  }
.asig{

  width: 150%;
}

  .btnAsi{
    width: 20%;
    margin-right: 180px;
  }
}
