@media (max-width: 480px) {

  .crear {
    width: 60px;
    height: 30px;

    padding: 0 !important;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 600;
    line-height: 1;
  }

}
